@import "tailwindcss";

@theme {
  --color-primary: #ff602c;
  --color-background: #1d1d1d;
  --color-navbg: rgba(89, 86, 86, 0.29);
  --color-cardbg: rgba(89, 86, 86, 0.4);
}

@layer utilities {
  .reports-container {
    max-height: 340px;
    overflow-y: auto;
  }
  .items-container {
    max-height: 250px;
    overflow-y: auto;
  }
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(89, 86, 86, 0.2);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 96, 44, 0.5);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 96, 44, 0.8);
  }
}
